.hero-btn{
    font-size: 20px;
    font-weight: 700;
  color:rgb(126, 75, 255);
  background-color:var(--white);
  border:1px solid var(--primary);
}
.hero-btn:hover{
  color:var(--white);
  background-color:var(--primary);
}
.Auto{
    font-size: 56px;
    font-weight: 700;
    color: var(--heading-color);
}
.hero-title{
    font-size: 30px;
    font-weight: 700;
    color:var(--heading-color);
}
.description{
    font-size: 20px;
    font-weight: 700;
    color: var(--heading-color);
}
#hero_section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 50.33px 85.33px 133.33px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--bg-shade);
}
.hero-image img{
    height: 90vh;
    animation: appear 1s linear;

}
.content-box{
    animation: appear 1s linear;
    /* animation-timeline: view(); */
    /* animation-range: entry 0% cover 40%; */
}
